<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PYMES</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.1.0/css/adminlte.min.css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    <link rel="shortcut icon" type="image/png" href="/images/LoginImg/rompecabezas.png"/>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body class="hold-transition sidebar-mini layout-fixed" >
    <div class="wrapper" >
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light" id="navPrincipal">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button" style="color:black"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" id="idSettings">
                    <a class="nav-link" href="#">⚙</a>
                </li>
            </ul>
        </nav>
        <!-- Sidebar -->
        <aside class="main-sidebar  elevation-4 lateralBar">
            @* <a href="#" class="brand-link">
            <span class="brand-text font-weight-light">UNDERGAME</span>
            </a> *@
            <div class="user-panel d-flex" id="sec1">
                <div class="image imgUser">
                    <a asp-controller="Home" asp-action="Index"><img src="/images/LoginImg/rompecabezas.png" /></a>
                </div>

                <div class="info" style="margin-left: 12px; padding:auto">
                    @{
                        
                        if(Context.Session.GetString("role") == "SuperUsuario"){
                            <p id="enterprise-name">Super Usuario</p>
                        }
                        else if(Context.Session.GetString("role") == "AdministradorEmpresa"){
                            <p id="enterprise-name">Admin. Empresa</p>
                        }
                        else if(Context.Session.GetString("role") == "Productor"){
                            <p id="enterprise-name">Productor</p>
                        }
                        
                        } 
                </div>

            </div>

            <nav class="mt-2">
                <div class="user-panel d-flex" id="sec1">
                    <div class="image imgUser">
                        <a href=""><img src="/images/LoginImg/hombre.png" class="img-circle elevation-2" alt="User Image" /></a>
                    </div>

                    <div class="info" style="margin-left: 12px; padding:auto">
                        <p id="user-name">@Context.Session.GetString("FullName")</p>
                    </div>

                </div>
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" style="margin-top: 30px; margin-left: 8px;">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    @{

                        string rol = Context.Session.GetString("role");

                        //if ( rol == "SuperUsuario")
                        @if (User.IsInRole("SuperUsuario"))
                        {
                            <li class="nav-item menu-open closed" >
                                <a href="#" class="nav-link">
                                    💼
                                    <p style="color:white;">
                                        Administración
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">


                                    <li class="nav-item">
                                        <a asp-controller="TownShips" asp-action="Index" class="nav-link">
                                            🏙️
                                            <p style="color:white;">Municipios</p>
                                        </a>
                                    </li>
                                  

                                    <li class="nav-item">
                                        <a asp-controller="BusinessManagers" asp-action="Index" class="nav-link">
                                            🏢
                                            <p style="color:white;">Admin. Asociación</p>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a asp-controller="Enterprise" asp-action="Index" class="nav-link">
                                            🏬
                                            <p style="color:white;">Asociación</p>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                        }


                        @if (User.IsInRole("AdministradorEmpresa"))
                        {
                            <li class="nav-item menu-open closed">
                                <a href="#" class="nav-link">
                                    👨‍💻
                                    <p style="color:white;">
                                        Adm. Productores
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                  
                                    <li class="nav-item">
                                        <a asp-controller="Producer" asp-action="Index" class="nav-link">
                                            📦
                                            <p style="color:white;">Productor</p>
                                        </a>
                                    </li>
                                   
                                   
                                   
                                </ul>
                            </li>
                        }
                        @if (User.IsInRole("Productor"))
                        {
                            <li class="nav-item menu-open closed">
                                <a href="#" class="nav-link">
                                    🗃️
                                    <p style="color:white;">
                                        Admin. Productos
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">

                                    <li class="nav-item">
                                        <a asp-controller="Products" asp-action="Index" class="nav-link">
                                            📦
                                            <p style="color:white;">Productos</p>
                                        </a>
                                    </li>


                                    <li class="nav-item">
                                        <a asp-controller="RawMaterial" asp-action="Index" class="nav-link">
                                            🧱
                                            <p style="color:white;">Insumos</p>
                                        </a>
                                    </li>


                                    <li class="nav-item">
                                        <a asp-controller="UnitType" asp-action="Index" class="nav-link">
                                            📏
                                            <p style="color:white;">Unidad Medida</p>
                                        </a>
                                    </li>


                                    <li class="nav-item">
                                        <a asp-controller="Manufacturing" asp-action="Index" class="nav-link">
                                            ♨️
                                            <p style="color:white;">Produccion</p>
                                        </a>
                                     </li>


                                    <li class="nav-item">
                                        <a asp-controller="Categories" asp-action="Index" class="nav-link">
                                            🏷️
                                            <p style="color:white;">Categoria</p>
                                        </a>
                                    </li>

  
                                </ul>

                            </li>

                             <li class="nav-item menu-open closed">
                                <a href="#" class="nav-link">
                                    📦
                                    <p style="color:white;">
                                        Almacen
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-controller="Warehouses" asp-action="Index" class="nav-link">
                                            🚚
                                            <p style="color:white;">Gestion de Almacen</p>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a asp-controller="Sectors" asp-action="Index" class="nav-link">
                                            📍
                                            <p style="color:white;">Sector en Almacen</p>
                                        </a>
                                    </li>

                                </ul>
                              </li>
        

                        }

                    }





                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Develop" class="nav-link">
                            👤
                            <p style="color:white;">
                                Usuario
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Develop" class="nav-link">
                            ⚙️
                            <p style="color:white;">
                                Ajustes
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Develop" class="nav-link">
                            <p style="opacity:.8">Ayuda</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Develop" class="nav-link">
                            <p style="opacity:.8">Contacto</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Login" asp-action="Logout" class="nav-link">
                            <p style="opacity:.8">Salir</p>
                        </a>
                    </li>

                </ul>
            </nav>

            <!-- /.sidebar-menu -->
        </aside>
        <!-- Content Wrapper -->
        <div class="content-wrapper back">
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- Footer -->
        @* <footer class="main-footer" style=" color: black;">
            <div class="float-right d-none d-sm-inline">
                Version 1.0
            </div>
            &copy; 2023 - WebApplication1
        </footer> *@
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
   @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>  OJO*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.1.0/js/adminlte.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

