@model Proyecto_Pymes.Models.DB.BusinessManager

@{
    ViewData["Title"] = "Create";
}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">

<h1 style="text-align:center;  color: white">
Registrar Administrador</h1>


<hr />

 <form asp-action="Create" style="color: white">
  <div class="row">
    <div class="col-md-6">
       
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdNavigation.Name" class="control-label">Nombre:</label>
                <input type="text" asp-for="IdNavigation.Name" class="form-control" placeholder="Nombre" />
                <span asp-validation-for="IdNavigation.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNavigation.LastName" class="control-label">Primer Apellido:</label>
                <input type="text" asp-for="IdNavigation.LastName" class="form-control" placeholder="Primer Apellido" />
                <span asp-validation-for="IdNavigation.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNavigation.SecondLastName" class="control-label">Segundo Apellido (Opcional):</label>
                <input type="text" asp-for="IdNavigation.SecondLastName" class="form-control" placeholder="Segundo Apellido" />
                <span asp-validation-for="IdNavigation.SecondLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNavigation.Email" class="control-label">Email:</label>
                <input type="email" asp-for="IdNavigation.Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="IdNavigation.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNavigation.PhoneNumber" class="control-label">Celular:</label>
                <input type="number" asp-for="IdNavigation.PhoneNumber" class="form-control" placeholder="Número de Celular" />
                <span asp-validation-for="IdNavigation.PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            
            
            <div class="form-group">
                <label asp-for="IdNavigation.Ci" class="control-label" >CI:</label>
                <input type="text" asp-for="IdNavigation.Ci" class="form-control" placeholder="CI"/>
                <span asp-validation-for="IdNavigation.Ci" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorporateNumber" class="control-label">Numero Corporativo (Opcional):</label>
                <input type="number" asp-for="CorporateNumber" class="form-control" placeholder="Número de Corporativo" />
                <span asp-validation-for="CorporateNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEnterprise" class="control-label">Asociación:</label>
                <select asp-for="IdEnterprise" class="form-control" asp-items="ViewBag.IdEnterprise">
                    <option value="">Seleccione una Asociación</option>
                </select>
                <span asp-validation-for="IdEnterprise" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label for="">Genero:</label>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="IdNavigation.Gender" id="inlineRadio1" value="M">
                        <label class="form-check-label" for="inlineRadio1">Masculino</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="IdNavigation.Gender" id="inlineRadio2" value="F">
                        <label class="form-check-label" for="inlineRadio2">Femenino</label>
                    </div><br />
                    <span asp-validation-for="IdNavigation.Gender" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-center">
                        <button type="submit" class="btn  btn-md  btn-block " style="background-color:#15718d; color:white;">Aceptar</button> <!-- Agregamos "btn-block" para que ocupe todo el ancho -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <a asp-action="Index" class="btn  btn-md btn-block " style="background-color:#bb2727; color:white;">Cancelar</a> <!-- Agregamos "btn-block" para que ocupe todo el ancho -->
                    </div>
                </div>
            </div>
        </div>
  </div>
</form>




<div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Mensaje</h5>
            </div>
            <div class="modal-body">
                <p>Registro exitoso! <i class="fas fa-check-circle"></i></p>
            </div>
            <div class="modal-footer">
                <a asp-controller="BusinessManagers" asp-action="Index" class="btn btn-warning">Aceptar</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @if (TempData["ShowModal"] as bool? == true)
    {
        <script>
            $(document).ready(function () {
                $('#exampleModalCenter').modal('show');
            });
        </script>
    }
}