@{
    ViewData["Title"] = "In Development";
}

<style>
    .centered-container {
        text-align: center;
    }


</style>

<div class="container-fluid centered-container">
    <img src="~/images/devev.gif" alt="" width="500px" class="mx-auto">
    <p  style="font-size: 50px; color: white" > En Desarrollo ⚒ <br>Disponible mas adelante</p>
</div>
