@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    .centered-container {
        text-align: center;
    }


</style>

<div class="container-fluid centered-container">
    <img src="~/images/acceso-denegado.png" alt="" width="400px" class="mx-auto" style="margin: 50px;" >
    <p  style="font-size: 50px; color: white" > Acceso Denegado🚨</p>
</div>