@model Proyecto_Pymes.Models.DB.Category

@{
    ViewData["Title"] = "Edit";
}

<h1  style="text-align:center; color: white" >Editar Categoria</h1>

<hr />
<div class="row">
    <div class="col-md-4 mx-auto">
        <form asp-action="Edit" style="color: white">


             <input hidden asp-for="Id" />
            <input hidden asp-for="Status" />
            <input hidden asp-for="RegisterDate" />
            <input hidden asp-for="UserId" />


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label">Nombre:</label>
                <input asp-for="Name" class="form-control" placeholder="Nombre" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Descripción (Opcional):</label>
                <input asp-for="Description" class="form-control" placeholder="Descripción" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-center">
                            <button type="submit" class="btn  btn-md  btn-block " style="background-color:#15718d; color:white;">Actualizar</button> <!-- Agregamos "btn-block" para que ocupe todo el ancho -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-center">
                            <a asp-action="Index" class="btn  btn-md btn-block " style="background-color:#bb2727; color:white;">Cancelar</a> <!-- Agregamos "btn-block" para que ocupe todo el ancho -->
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>




<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Mensaje</h5>
            </div>
            <div class="modal-body">
                <p>Categoria Actualizada correctamente! <i class="fas fa-check-circle"></i></p>
            </div>
            <div class="modal-footer">
                <a asp-controller="Categories" asp-action="Index" class="btn btn-warning">Aceptar</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @if (TempData["ShowModal"] as bool? == true)
    {
        <script>
            $(document).ready(function () {
                $('#exampleModalCenter').modal('show');
            });
        </script>
    }
}
